# Configuração do Servidor
PORT=8080
NODE_ENV=development

# Banco de Dados (Use a string do Atlas ou localhost)
MONGO_CONNECTION_URL=

# Configurações do JWT
JWT_SECRET=
JWT_EXPIRES_IN=12h

# Google Cloud Storage (ADC - Application Default Credentials)
GCS_PROJECT_ID=your-project-id
GCS_BUCKET_NAME=your-bucket-name