# Configuração do Servidor
PORT=8080
NODE_ENV=development

# Banco de Dados (Use a string do Atlas ou localhost)
MONGO_CONNECTION_URL=

# Configurações do JWT
JWT_SECRET=
JWT_EXPIRES_IN=12h

# Google Cloud Storage (Preencha com suas credenciais)
GCS_PROJECT_ID=your-project-id
GCS_CLIENT_EMAIL=your-service-account@your-project-id.iam.gserviceaccount.com
GCS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
GCS_BUCKET_NAME=your-bucket-name